body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:541px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  position:absolute;
  left:14px;
  top:17px;
  width:527px;
  height:144px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
